<!DOCTYPE html>
<html lang="en" data-theme="night">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/tailwind.css" />
  </head>
  <body>
    <% include ../partials/navbar %>

    <div class="flex justify-center">
      <div class="border border-secondary rounded-md p-5 xl:h-full max-w-4xl">
        <h1 class="text-4xl font-extrabold text-center mt-4 mb-8">
          Only one step away to complete!
        </h1>
        <hr / class="mb-5 border-secondary">
        <p class="mb-7 font-black">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          aliquam asperiores iste nobis quis maxime, nihil odio quod fugiat iure
          in quidem dignissimos dolor. Asperiores sint dolorum excepturi quaerat
          perspiciatis?
        </p>

        <div class="flex justify-center">
          <input
            type="password"
            placeholder="Enter your new password"
            class="mb-5 w-8/12 input input-bordered input-primary"
            id="first"
          />
        </div>
        <div class="flex justify-center">
          <input
            type="password"
            placeholder="Confirm your new password"
            class="mb-5 w-8/12 input input-bordered input-primary"
            id="second"
          />
        </div>
        <div class="flex justify-center">
          <button
            type="button"
            onclick="setPassword()"
            class="ml-4 btn btn-primary btn-outline"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
  <script>
    function setPassword() {
      if ($("#first").val() == $("#second").val()) {
        $.ajax({
          url: "/users/newpassword",
          type: "POST",
          data: { password: $("#first").val() },
        }).done((result) => {
          console.log(result);
          if(result.status){
            location.href = "/"
          }
        })
      } else {
        alert("Your password doesn't match");
      }
    }
  </script>
</html>
