<!DOCTYPE html>
<html lang="en" data-theme="luxury">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="/stylesheets/tailwind.css" />
  <body
    class="h-full pt-4"
    style="background: linear-gradient(45deg, rgb(44, 40, 40), rgb(27, 23, 23))"
  >
    
 
  <div class="navbar bg-base-300 mb-10 mt-4">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-2xl text-purple-500" href="/">Mahuya</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <% if(locals.user) { %>

        <li><a href="/logout" class="text-red-400">Log out</a></li>
        <li><a href="/users/favbloglist" class="hover:text-purple-600">Your fav posts</a></li>
        <li>
          <a href="/allposts" class="hover:text-purple-600">All posts</a>
        </li>
        <li>
          <a href="/users/myposts" class="hover:text-purple-600">Your Posts</a>
        </li>
        <li>
          <a href="/users/postadd" class="hover:text-purple-600">Add Post</a>
        </li>
        <a href="/users" class="my-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 mx-4 hover:text-purple-400 hover:cursor-pointer"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            id="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </a>
        <a href="/users/profile" class="my-auto hover:text-white"><%= locals.user.name %></a>
        <li>
          <a href="/users/profile" class="avatar flex">
            <div class="w-12 rounded-full" id="pf">
              <img src="<%= locals.user.profile %>" />
            </div>
          </a>
        </li>
        <% } else { %>
        <li>
          <a href="/allposts" class="hover:text-purple-600">All posts</a>
        </li>
        <li><a href="/login" class="hover:text-purple-600">Log in</a></li>
        <li><a href="/register" class="hover:text-purple-600">Sign up</a></li>
        <% } %>
      </ul>
    </div>
  </div>



    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="flex justify-center">
      <div class="border w-96 flex justify-center rounded-md">
        <div class="space-y-3 w-4/5 mb-6">
          <h1 class="text-xl font-bold my-7 text-center">
            What is on your mind?
          </h1>
          <form
            action="/users/postadd"
            method="post"
            enctype="multipart/form-data"
            class="space-y-3"
          >
            <label for="title" class="text-lg">Title:</label>
            <input
              type="text"
              placeholder="Type here"
              class="input input-bordered input-warning w-full max-w-xs bg-inherit"
              name="title"
            /><br /><br />
            <label for="content">Content:</label>
            <!-- <textarea name="content" id="content" cols="30" rows="10"></textarea
          ><br /><br /> -->

            <textarea
              id="message"
              rows="4"
              class="block p-2.5 w-full h-48 text-sm input input-bordered input-warning bg-transparent"
              name="content"
              placeholder="Your message..."
            ></textarea>

            <div class="space-y-4">
              <label for="photo">Image:</label>
              <input
                type="file"
                class="block w-full text-sm file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-1 file:btn-outline file:text-sm file:font-semibold"
                id="photo"
                name="photo"
              />
            </div>
            <br />
            <div class="flex justify-center mb-6">
              <input type="submit" value="Add" class="btn btn-outline" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
